USE [db_zooTest2]
GO
/****** Object:  StoredProcedure [dbo].[get_animal_info]    Script Date: 11/6/2025 11:35:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 7. CREATE get_animal_info (Compiler finds tables now) */
ALTER PROCEDURE [dbo].[get_animal_info] 
    @animal_name VARCHAR(50)
AS
BEGIN
	DECLARE @error_string VARCHAR(100)
	DECLARE @results VARCHAR(5)

	SET @error_string = 'There are no ' + @animal_name + '''s found at this zoo.'

	BEGIN TRY
		SET @results = (SELECT COUNT(tbl_species.species_name) FROM tbl_species WHERE species_name = @animal_name)
		IF @results = 0
			BEGIN
				RAISERROR(@error_string, 16, 1)
				RETURN
			END
		ELSE IF @results = 1
			BEGIN
				SELECT
				a1.species_name, a2.animalia_type,
				a3.class_type, a4.order_type, a5.habitat_type,
				a6.nutrition_type, a7.care_type
				FROM dbo.tbl_species a1 -- dbo. prefix included for compilation
				INNER JOIN dbo.tbl_animalia a2 ON a2.animalia_id = a1.species_animalia
				INNER JOIN dbo.tbl_class a3 ON a3.class_id = a1.species_class
				INNER JOIN dbo.tbl_order a4 ON a4.order_id = a1.species_order
				INNER JOIN dbo.tbl_habitat a5 ON a5.habitat_id = a1.species_habitat
				INNER JOIN dbo.tbl_nutrition a6 ON a6.nutrition_id = a1.species_nutrition
				INNER JOIN dbo.tbl_care a7 ON a7.care_id = a1.species_care
				WHERE species_name = @animal_name
				;
			END
	END TRY

	BEGIN CATCH
		SELECT @error_string = ERROR_MESSAGE()
		RAISERROR (@error_string, 10, 1)
	END CATCH
END
